@import 'variables';
@import 'vendor/init.scss';
@import 'mixins.scss';
@import 'header.scss';
@import 'home.scss';
@import 'footer.scss';

* {
	font-family: 'Sansita', sans-serif;
}

.cf {
	@include clearfix();
}

.text--centered {
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	max-width: 1024px;
    width: 100%;
}




