{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content }}
    <section class="bios">
	    <h1>The Regulars</h1>
		<p class="text--centered">Whats a pub without its regulars? A shit pub thats what!</p>
		<div class="person">
			<img class="person__image" src="user/pages/images/bio/sam.jpg">
			<div class="person__info">
				<h1 class="person__name">General Lucifer</h1>
				<h2 class="person__strapline">She was the only girl I ever bummed</h2>
				<p class="person__bio">Here is some more bio</p>
			</div>
		</div>
		<div class="person">
			<div class="person__info">
				<h1 class="person__name">Sam Anderson</h1>
				<h2 class="person__strapline">Turn off that Enya CD I'm going to cry</h2>
				<p class="person__bio">Here is some more bio</p>
			</div>
			<img class="person__image" src="user/pages/images/bio/sam.jpg">
		</div>
		<div class="person">
			<img class="person__image" src="user/pages/images/bio/sam.jpg">
			<div class="person__info">
				<h1 class="person__name">Andrew Rodgers</h1>
				<h2 class="person__strapline">It was when I was cycling across Canada...</h2>
				<p class="person__bio">Here is some more bio</p>
			</div>
		</div>
	</section>
{% endblock %}

