{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="intro">
	    <img class="logo" src="user/pages/images/logo.png">
	    <h1>Welcome to the Dysfunction Room</h1>
	    <h2>A monthly podcast recorded in the back room of pubs about books, music & life</h2>
	    <p>Every month the Dysfunction Room regulars find a back room of a pub & sit down with a few ales to discuss books, music, paraphenalia and whatevers going on in their lives these days</p>
    </section>
{% endblock %}

